/* Custom styles for Imgly */

html {
  background: black;
}

#imgly-page-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #222;
}

#imgly-page-wrapper div.imgly-node {
  text-align: center;
  padding-top: 40px;
}

div.imgly-footer {
  background: black;
  padding-top: 10px;
}